<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>
    <% try { %>
        <% if (user) { %>
            <form action="/logout" method="POST">
                <button type="submit">Logout</button>
            </form>
        <% } %>
    <% } catch (e) { }%>
</header>