<!DOCTYPE html>
<html lang="fr">
<%- include('includes/head') %>
<body>
    <%- include('includes/header') %>
    <%- include('includes/logs') %>
    <main>
        <form action="/register" method="POST">
            <div>
                <label for="firstName">FirstName</label>
                <input id="firstName" name="firstName" type="text">
            </div>
            <div>
                <label for="lastName">LastName</label>
                <input id="lastName" name="lastName" type="text">
            </div>
            <div>
                <label for="login">Login</label>
                <input id="login" name="login" type="text">
            </div>
            <div>
                <label for="password">Password</label>
                <input id="password" name="password" type="text">
            </div>
            <div>
                <button type="submit">Register</button>
            </div>
        </form>
    </main>
</body>
</html>